@import './vars.scss';

.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;

  .cardData{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    
    &>*{
      font-family: 'Oswald', sans-serif;
    }

    &:last-child{
      margin-bottom: 0;
    }

    &__number{
      font-size: 55px;
      color: $main-yellow;
      margin-bottom: -10px;
    }

    &__text{
      font-size: 40px;
      font-weight: bold;
      color: $second-black;
    }

    &__subText{
      font-size: 20px;
      color: $main-gray;
    }

    &__line{
      background-color: $main-yellow;
      height: 5px;
      margin-top: 10px;
      width: 70%;
    }
  }
}


@media screen and (min-width: 768px) {
  .data{
    // padding: 20px 50px ;
    flex-direction: row;
    justify-content: space-around;
    .cardData{
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .data{
    padding: 20px 50px ;
    flex-direction: row;
    justify-content: space-around;
    .cardData{
      margin-bottom: 0;
    }
  }
}